html {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.nav-cta {
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    padding: 6px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: whitesmoke
}

.nav-cta > a {
    text-align: center;
}

.nav-cta:hover {
    background: rgb(17,17,17);
    background: linear-gradient(-90deg, rgba(17,17,17,1) 0%, rgba(255,64,0,1) 100%);
    border: 1.5px solid whitesmoke;
}

.hero-video {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    max-height: 200%;
}

.services {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    background: rgb(17,17,17);
    background: linear-gradient(300deg, rgba(17,17,17,1) 60%, rgba(255,64,0,1) 100%); 
}

.service-card {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.service {
    display: flex;
    flex-direction: column;
}
.service-name {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.service-description {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    max-height: 100%;
    background: rgb(17,17,17);
    background: linear-gradient(119deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
}

.showreel {
    width: 80%;
    height: auto;
    padding-bottom: 40px;
}

.section-divider-headline {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1em;
    font-weight: 600;
}


.hire-section-title {
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 30px;
    line-height: 1.3em;
}

.hire-section-copy {
    font-weight: 400;
}

.section-copy-strong {
    font-size: 18px;
    font-weight: 600;
}

.cta {
    border:none;
    font-weight: 400;
    text-align: center;
    font-size: medium;
    background-color: #333;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: whitesmoke;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.cta:hover {
    background: #444;
}

.footer {
    background-color: #111;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.footer-left {
    max-width: 500px;
}

.footer-right > img {
    max-width: 500px;
    position: absolute;
    right: -50;
}

.footer-logo {
    width: 500px;
    margin-bottom: 40px;
}

.social-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-list > a {
    color: whitesmoke;
}


.social-link:hover {
    color: rgba(255,64,0,1);
}

.footer {
    background: rgb(17,17,17);
background: linear-gradient(119deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
}

.footer-nav-wrap {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer-list-section {
    display: flex;
    flex-direction: column;

}

.footer-list-headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-item > a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 0.1em;
    font-weight: 400;;
    text-decoration: none;
    color: whitesmoke;
}

.footer-list-item > a:hover {
    color: #FF4000;
}