html {
    background-color: #111;
    /* color: whitesmoke; */
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

/* .body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
} */

/* .content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.logo {
    z-index: 2;
}

.page-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.nav-list {
    z-index: 2;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: whitesmoke;

}

.nav-item > a {
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    letter-spacing: 0.1em;
    font-weight: 200;
    z-index: 2;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.8);

}

.nav-active > a {
    font-weight: 600;
    color: whitesmoke
}

.nav-cta {
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    color: whitesmoke
}

.nav-cta > a {
    text-align: center;
}

.nav-cta:hover {
    background: rgb(17,17,17);
    background: linear-gradient(-90deg, rgba(17,17,17,1) 0%, rgba(255,64,0,1) 100%);
    border: 1.5px solid whitesmoke;
}

.hero-video {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    max-height: 200%;
}


.about {
    padding: 60px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(119deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
}

.section-title {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.section-copy {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-weight: 200;
}

.services {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    background: rgb(17,17,17);
    background: linear-gradient(300deg, rgba(17,17,17,1) 60%, rgba(255,64,0,1) 100%); 
}

.service-card {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.service {
    display: flex;
    flex-direction: column;
}
.service-name {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.service-description {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.work {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    max-height: 100%;
    background: rgb(17,17,17);
    background: linear-gradient(119deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
}

.showreel {
    width: 80%;
    height: auto;
    padding-bottom: 40px;
}

.section-divider-headline {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.hire {
    display: flex;
    align-items: center;
    gap: 50px;
    /* min-height: 60vh; */
    height: 100%;
    padding: 30px;
    height: 500px;
    background: rgba(255,64,0, 1);
}

.hire-image-wrap > video {
    min-width: 250px;
    max-width: 500px;
    /* background-color: whitesmoke;
    border-radius: 100%; */
}
.hire-copy-wrap {s

}

.hire-section-title {
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 40px;
    line-height: 1.3em;
}

.hire-section-copy {
    max-width: 750px;
    font-weight: 200;
}

.section-copy-strong {
    font-weight: 600;
}

.contact-form {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.cta {
    border:none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    background-color: #333;
    padding: 5px 5px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: whitesmoke;
    letter-spacing: 0.05em;
    margin-top: 20px;
    text-decoration: none;
}

.cta:hover {
    background: #444;
}

.footer {
    background-color: #111;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.footer-left {
    max-width: 500px;
}

.footer-right > img {
    max-width: 500px;
    position: absolute;
    right: -50;
}

.footer-logo {
    width: 500px;
    margin-bottom: 40px;
}

.social-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-list > a {
    color: whitesmoke;
}


.social-link:hover {
    color: rgba(255,64,0,1);
}

.footer {
    background: rgb(17,17,17);
background: linear-gradient(119deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
}

.footer-nav-wrap {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer-list-section {
    display: flex;
    flex-direction: column;

}

.footer-list-headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-item > a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 0.1em;
    font-weight: 400;;
    text-decoration: none;
    color: whitesmoke;
}

.footer-list-item > a:hover {
    color: #FF4000;
} */